* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

body {
  font-family: montserrat;
}

main{
  display: grid;
}

/* HEADER */

nav{
  background: #0082e6;
  height: 80px;
  width: 100%;
  position: relative;
}

nav img.logo{ 
  width: 50px;
  margin: 15px;
  transition: 0.3s;
  text-decoration: none;
}

nav img.logo:hover{ 
  transform: scale(1.1);
}

nav label.text-logo{
  position: absolute;
  color: white;
  font-size: 35px;
  line-height: 80px;
  font-weight: bold;
}

nav ul{
  float: right;
  margin-right: 20px;
}

nav ul li a i{
  color: white;
  margin-right: 10px;
}

.categories ul{
  display: none;
  background: black;
  width:200px;
}

.categories ul li{
  display: block;
}

.categories:hover > ul{
  position: absolute;
  color: blue;
  display: block;
}

nav ul li{
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}

nav ul li a{
  color: white;
  font-size: 15px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
}

nav ul li a.active, nav ul li a:hover{
  background: #1b9bff;
  transition: 0.5s;
}

#product-info{
  padding: 50px;
  margin: 0 auto;
  max-height: 100vh;
  max-width: 80%;
}

.product-info-left{
  width: 50%;
    float: left;
    padding: 20px;
    
}

.product-info-left p{
  text-align: center;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 600;
  font-style: italic;
}

h1.features-title{
  margin-bottom: 10px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 25px;
}

p.product-type{
  font-style: normal;
  color: #0082e6;
}

p.price{
  font-size: 30px;
}

figure{
  text-align: center;
  margin: 10px;
}



.product-info-left img{
 width: 100%; 
}

.product-info-right{
  width: 50%;
    float: left;
    padding: 20px;
    
}

table {
  width: 100%;
  height: 100%;
  border: 2px solid #0082e6;
  padding: 5px;
}

td{
  padding: 10px;
  margin-right: 10px;
}

.td-left{
  text-transform: uppercase;
  font-weight: bold;
}


.product-info-right hr{
  margin-bottom: 20px;
}

p.product-description{
  line-height: 20px;
  margin: 20px 0; 
}

.footer {
  bottom: 0px;
	width: 100%;
	background: #0082e6;
	display: block;
}

.inner-footer {
	width: 95%;
	margin: auto;
	padding: 30px 10px;
	display: flex;
	flex-wrap: wrap;
	box-sizing: border-box;
	justify-content: center;
}

.footer-items {
	width: 25%;
	padding: 10px 20px;
	box-sizing: border-box;
}

.footer-items p {
	color: rgb(255, 255, 255);
	font-size: 16px;
	line-height: 25px;
}

hr {
  border: none;
	height: 3px;
	width: 150px;
	background: #d47b15;
}

.footer-bottom {
  display: flex;
	padding: 10px;
	background: #3d545f;
	color: #fff;
  font-size: 12px;
  align-items: center;
  justify-content: center;
}

ul {
	list-style: none;
	color: #fff;
	font-size: 15px;
	letter-spacing: 0.5px;
}




.footer-items p {
	color: rgb(255, 255, 255);
	font-size: 16px;
	line-height: 25px;
}

.inner-footer h1 {
	padding: 10px 0;
	font-size: 25px;
	color: #fff;
    text-transform: uppercase;
}

.inner-footer h2 {
	margin: 10px 0;
	color: rgb(255, 255, 255);
	font-size: 16px;
	font-weight: 400;
	text-transform: uppercase;
}

ul a {
	text-decoration: none;
	outline: none;
	color: #fff;
	transition: 0.3s;
}

footer ul a:hover, i {
	color: #f19100;
}

ul li {
  margin: 20px 0;
	height: 100%;
}

li i {
	margin-right: 20px;
}

.checkbtn{
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

#check{
  display: none;
}

.checkbtn i{
  color: white;
}

@media (max-width: 952px){
  label.logo{
    font-size: 30px;
    padding-left: 50px;
  }
  nav ul li a{
    font-size: 16px;
  }
}

@media (max-width: 1060px){
  .checkbtn{
    display: block;
  }

  nav ul{
    display: grid;
    position: absolute;
    width: 100%;
    height: 100vh;
    background: #2c3e50;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all .5s;
  }

  nav ul li{
    margin: 25px 0 0 0;
  }

  nav ul li a{
    font-size: 20px;
  }

  #check:checked ~ ul{
    left: 0;
  }
}

@media screen and (max-width: 1085px) {
  .footer-items {
    width: 50%;
  }
}
  
@media screen and (max-width: 425px) {
  .footer-items {
    width: 100%;    
  }

  .text-logo{
    display: none;
  }

  #product-info{
    max-height: 100%;
    padding: 0;
  }

  .product-info-left, .product-info-right {
    width: 100%;
  }
}