* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

body {
  font-family: montserrat;
}

main{
  display: grid;
}

/* HEADER */

nav{
  background: #0082e6;
  height: 80px;
  width: 100%;
  position: relative;
}

nav img.logo{ 
  width: 50px;
  margin: 15px;
  transition: 0.3s;
  text-decoration: none;
}

nav img.logo:hover{ 
  transform: scale(1.1);
}

nav label.text-logo{
  position: absolute;
  color: white;
  font-size: 35px;
  line-height: 80px;
  font-weight: bold;
}

nav ul{
  float: right;
  margin-right: 20px;
}

nav ul li a i{
  color: white;
  margin-right: 10px;
}

nav li input{
  padding: 10px;
  border:none;
  width: 300px;
  height: 30px;
  border-radius: 20px;
}

nav li i{
  color: white;
  margin-right: 10px;
}

.categories ul{
  display: none;
  background: #0082e6;
  width:200px;
}

.categories ul li{
  display: block;
}

.categories:hover > ul{
  position: absolute;
  color: white;
  display: block;
  float:left;
}

nav ul li{
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}

nav ul li a{
  color: white;
  font-size: 15px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
}

nav ul li a.active, nav ul li a:hover{
  background: #1b9bff;
  transition: 0.5s;
}

/* REVIEW SECTION */

div.review-section{
  margin: 40px auto;
  padding: 0 1rem;
  max-width: 1200px;
  text-align: center;
}

div h2.review-section-title{
  margin-top: 10px;
  text-transform: uppercase;
  color:  #0082e6;
  margin-bottom: .5rem;
}

div p.review-section-p{
  font-size: 18px;
  color: rgb(44, 44, 44);
  font-style: italic;
}

div.reviews{
  margin: 15px auto;
  display: flex;
  flex-wrap: wrap;
}

div.review{
  margin: 0 25px;
  min-width: 300px;
  flex: 1;
}

p.name-review{
  font-size: 1.5rem;
  color:  #003258;
  margin-bottom: .25rem;
}

div.background-review{
  background-color: rgb(238, 238, 238);
  padding: 15px;
  margin: 20px 0;
  box-shadow: 8px 8px 0px 0px rgb(211, 211, 211);
}

div.rating{
  color: rgb(253, 180, 42);
  margin: 10px 0;
}
p.review-description{
  font-style: italic;
  line-height: 1.3rem;
  color: rgb(150, 150, 150);
}

/* PROMOTION SECTION */

.promo-products{
  margin: 40px auto;
  padding: 0 1rem;
  max-width: 1800px;
  text-align: center;
}

h2.promo-section-title::first-letter{
  font-size: 30px;
}

h2.promo-section-title{
  margin-top: 10px;
  text-transform: uppercase;
  color:  #0082e6;
  margin-bottom: .5rem;
}

p.promo-section-p{
  font-size: 18px;
  color: rgb(44, 44, 44);
  font-style: italic;
}

#products{
  margin: 15px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

#product-card{
    background-color: white;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.20);
    transition: 0.4s;
    margin: 20px;
    padding: 20px;
    cursor: pointer;
    border: 2px solid #0d597a;
    max-width: 200px;
    height: 100%;
}

#product-card img{
  height: 156px;
  width: 156px;
}

#product-card:hover{
  transform: scale(1.1);
}

.price-section{
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.permanent-price{
  font-style: italic;
  text-decoration:line-through;
}

.current-price{
  font-style: italic;
  color: red;
  font-weight: bold;
}



/* FOOTER */

.footer {
  bottom: 0px;
	width: 100%;
	background: #0082e6;
	display: block;
}

.inner-footer {
	width: 95%;
	margin: auto;
	padding: 30px 10px;
	display: flex;
	flex-wrap: wrap;
	box-sizing: border-box;
	justify-content: center;
}

.footer-items {
	width: 25%;
	padding: 10px 20px;
	box-sizing: border-box;
}

.footer-items p {
	color: rgb(255, 255, 255);
	font-size: 16px;
	line-height: 25px;
}

hr {
  border: none;
	height: 3px;
	width: 150px;
	background: #d47b15;
}

.footer-bottom {
  display: flex;
	padding: 10px;
	background: #3d545f;
	color: #fff;
  font-size: 12px;
  align-items: center;
  justify-content: center;
}

ul {
	list-style: none;
	color: #fff;
	font-size: 15px;
	letter-spacing: 0.5px;
}

.footer-items p {
	color: rgb(255, 255, 255);
	font-size: 16px;
	line-height: 25px;
}

.inner-footer h1 {
	padding: 10px 0;
	font-size: 25px;
	color: #fff;
    text-transform: uppercase;
}

.inner-footer h2 {
	margin: 10px 0;
	color: rgb(255, 255, 255);
	font-size: 16px;
	font-weight: 400;
	text-transform: uppercase;
}

ul a {
	text-decoration: none;
	outline: none;
	color: #fff;
	transition: 0.3s;
}

footer ul a:hover, i {
	color: #f19100;
}

ul li {
  margin: 20px 0;
	height: 100%;
}

li i {
	margin-right: 20px;
}

.checkbtn{
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

#check{
  display: none;
}

.checkbtn i{
  color: white;
}


@media (max-width: 1060px){
  .checkbtn{
    display: block;
  }

  nav ul{
    display: grid;
    position: absolute;
    width: 100%;
    height: 100vh;
    background: #2c3e50;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all .5s;
  }

  nav ul li{
    margin: 25px 0 0 0;
  }

  nav ul li a{
    font-size: 20px;
  }

  #check:checked ~ ul{
    left: 0;
  }
}

@media screen and (max-width: 530px) {
  .text-logo{
    display: none;
  }
}

@media screen and (max-width: 1085px) {
  .footer-items {
    width: 50%;
  }
}
  
@media screen and (max-width: 475px) {
  .footer-items {
    width: 100%;    
  }
}